VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# EmailJS configuration
VITE_EMAILJS_SERVICE_ID=service_jfxg36q
VITE_EMAILJS_PUBLIC_KEY=x49DB5BrTN-ighjQR
VITE_EMAILJS_TEMPLATE_FACULTY_WELCOME=template_bt7vbnz
VITE_EMAILJS_TEMPLATE_STUDENT_ABSENT=template_830yjs9
