CREATE TABLE IF NOT EXISTS attendance (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  student_id TEXT NOT NULL REFERENCES students(hall_ticket_no) ON DELETE CASCADE,
  batch_name TEXT NOT NULL REFERENCES batches(name) ON DELETE CASCADE,
  course_name TEXT NOT NULL,
  date DATE NOT NULL DEFAULT CURRENT_DATE,
  status TEXT NOT NULL CHECK (status IN ('present', 'absent', 'late')),
  marked_by_faculty TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE (student_id, date, course_name)
);

ALTER TABLE attendance ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Enable all operations for public on attendance"
ON attendance FOR ALL USING (true) WITH CHECK (true);
